src/main/resources/xsd/statement.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="records" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="accountNumber" minOccurs="0"/>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:float" name="startBalance"/>
                            <xs:element type="xs:float" name="mutation"/>
                            <xs:element type="xs:float" name="endBalance"/>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="reference" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>